*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    background:url("https://wallpapercave.com/wp/wp5486670.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh; 
}

#inputCity{
    background-color: transparent;
    width: 300px;
    height: 45px;
    margin-top: 15px;
    border-radius: 25px;
    outline: none;
    border: 1px solid white;
    text-indent: 40px;
    color: #fff;
    font-size: 24px;
}

#inputCity::placeholder{
    text-indent: 40px;
}

.icono{
    color: #fff;
    position: relative;
    right: 285px;
    top: 25px;
    cursor: pointer;
}

.input__section{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.info_section{
    border-radius: 25px;
    width: 43.75em;
    height: 21.875em;
    color: #fff;
    left: 130px;
    position: relative;
    top: 250px;
}

#clima{
    font-size: 1.625em;
    margin: 15px ;
}

#localizacion{
    font-size: 2.875em;
    margin: 15px ;
}

.flex_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#temperatura{
    font-size: 7.5em;
    border-right: 1px solid white;
    width: 50%;
    text-align: center;
    padding-top: 15px;
  
}

.infoGeneral{
    width: 50%;
    height: 11.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    text-indent: 15px;
}

#celcius{
    font-size: 20px;
    position: relative;
    bottom: 85px;
    right: 35px;
}

footer {
    position: relative;
    top: 520px;

}

footer a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

#celciuspe{
    font-size: 16px;
    position: relative;
    bottom: 10px;
}

